/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::before,
::after {
  /* sets how the total width and height of an element is calculated */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#app {
  width: 100%;
  height: 100%;
  background: teal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  line-height: 0;
}

.flip-clock-container * {
  -webkit-user-select: none;
  -ms-user-select: none;

  /* The text of the element and its sub-elements is not selectable */
  user-select: none;
  cursor: default;
}

.flip-clock {
  display: flex;
  perspective: 100px;
}

.digit {
  position: relative;
  width: 45px;
  height: 80px;
  box-shadow: 0 0 2px 1px rgb(89, 196, 169);
}

.digit-left {
  margin-right: 1px;
}
.digit-right {
  margin-left: 1px;
}

.digit::before,
.digit::after {
  position: absolute;

  /* sets the z-order of a positioned element and its descendants or flex items. 
  Overlapping elements with a larger z-index cover those with a smaller one. */
  z-index: 0;

  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.digit::before {
  /* used to retrieve the value of an attribute of the selected element  */
  content: attr(data-digit-before);
  bottom: 0;
  align-items: flex-start;
}
.digit::after {
  /* used to retrieve the value of an attribute of the selected element  */
  content: attr(data-digit-after);
  top: 0;
  align-items: flex-end;
}

.card {
  position: relative;

  /* sets the z-order of a positioned element and its descendants or flex items. 
  Overlapping elements with a larger z-index cover those with a smaller one. */
  z-index: 1;
  width: 100%;
  height: 50%;

  /* sets whether children of an element are positioned in the 3D space or are flattened in the plane of the element. */
  transform-style: preserve-3d;

  /* sets the origin for an element's transformations */
  transform-origin: bottom;

  /* a transformation that rotates an element around the abscissa (horizontal axis) without deforming it */
  transform: rotateX(0);

  /* ease-in-out - specifies a transition effect with a slow start and end */
  transition: transform 0.7s ease-in-out;
}

/* class for js */
.card.flipped {
  transform: rotateX(-180deg);
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* sets whether the back face of an element is visible when turned towards the user. */
  backface-visibility: hidden;
}

.card-face-front {
  align-items: flex-end;
}
.card-face-back {
  align-items: flex-start;

  /* a transformation that rotates an element around the abscissa (horizontal axis) without deforming it */
  transform: rotateX(-180deg);
}

.digit::before,
.digit::after,
.card-face-front,
.card-face-back {
  background: white;
  color: black;
}

.digit,
.digit::before,
.digit::after,
.card,
.card-face {
  border-radius: 4px;
}

/* bottom of the card face */
.digit::before,
.card-face-back {
  background: linear-gradient(0, #aaa, #ccc, 50%, #fafafa);
  color: #212121;
  border-top: 1px solid black;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* top of the card face */
.digit::after,
.card-face-front {
  background: linear-gradient(0, #aaa, #bbb, 50%, #f5f5f5);
  color: #212121;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.digit-left,
.digit-left::before,
.digit-left::after,
.digit-left .card,
.digit-left .card-face {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.digit-right,
.digit-right::before,
.digit-right::after,
.digit-right .card,
.digit-right .card-face {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.colon {
  margin: 0 6px;
  padding-bottom: 9px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
